body{
    margin: 0;
    padding: 0;
    
}
td {
    width: 5vw;
    border: 1px solid black;
    text-align: center;
}
  .noBorder {
    border: none;
  }
  .headingOne{
      background-color: greenyellow;
      padding: 5px;
      font-size: 5vh;

        
  }